@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');

/*Festive*/
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

/*Tourney*/
@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@100&display=swap');

/*Josefin Slab*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');


/*Merienda*/
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

:root {
	--primary-bg: #101d2e;

	--border-color: #ffd700;

	--box-shadow: 0 20px 50px rgb(0 0 0/ 50%);

	--heading-font: 'Merienda', cursive;

	--content-font: 'Josefin Slab', serif;
}

* {
	padding: 0;
	margin: 0;
}

body {
	background: radial-gradient(rgb(255 255 255/20%), var(--primary-bg)), linear-gradient(#fff, rgb(16 29 46/ 2%));
	width: 100vw;
	height: 100vh;
	color: #fff;
	background-image: url(image/bodybg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}



::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 8px;

}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: linear-gradient(#101d2e, #e8d57f, #e8d57f);
}


nav {
	position: sticky;
	width: 100%;
	top: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10%;
	background-color: var(--primary-bg);
	box-shadow: var(--box-shadow);
	border-bottom: 3px solid #e8d57f;
}

li,
a {
	list-style: none;
	color: #edf0f1;
	font-size: 16px;
}

nav img {
	position: absolute;
	top: 5px;
	left: 20px;
	background: #fff;
	width: 100.8px;
	border-radius: 50%;
	box-shadow: var(--box-shadow);
	border: 3px solid red;
}

.nav-links li {
	display: inline-block;
	padding: 0 20px;
}

.nav-links li a {
	text-decoration: none;
	transition: 0.7s ease .1s;
}

.nav-links li a:hover {
	color: #0088A9;
}

/*==========logo=========*/
header {
	justify-content: center;
	width: 100vw;
	display: flex;
	margin-top: 40px;
}

/*==========Page Title========*/

#page-title {
	text-align: center;
	padding: 50px 60px;
}

#page-title p {
	margin-top: 54px;
	font-size: 18px;
	font-family: 'Lemonada', cursive;
}


.page-title-society-name h1 {
	position: relative;
	font-size: 6em;
	letter-spacing: 7px;
	color: #115263;
	text-transform: capitalize;
	width: 100%;
	text-align: center;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
	line-height: 64px;
	outline: none;
	animation: animate 5s linear infinite;
	font-weight: 600;
}

@keyframes animate {

	0%,
	18%,
	20%,
	40%,
	60.1%,
	67%,
	80%,
	90.1%,
	92% {
		color: #115263;
		text-shadow: none;
	}

	18.1%,
	20.1%,
	50%,
	60%,
	67.1%,
	80.1%,
	90%,
	92.1%,
	100% {
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
			0 0 20px #03bcf4,
			0 0 40px #03bcf4,
			0 0 80px #03bcf4,
			0 0 160px #03bcf4;
	}
}


/*            Social icons          */

.social-icons {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 2;
}

.social-icons a {
	text-decoration: none;

}

.fa-instagram {
	text-align: center;
	display: block;
	font-size: 30px;

}

.fa-youtube {
	display: block;
	font-size: 30px;
	margin: 10px 0px;
	text-align: center;

}

.social-icons a .fab {
	color: #fff;
	padding: 5px 10px 5px 20px;
	transition: 1s ease;
}

.social-icons a .fab:hover {
	cursor: pointer;
	transform: scale(1.15);
}

/*Image Slider*/


/*===============Hero Section===========*/



/*=============Our Departments Section===========*/
#departments {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 100px;
	margin-bottom: 100px;

}



.dept {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dept h1 {
	position: absolute;
	font-size: 30px;
	color: #5589f2;
	font-weight: bolder;
	padding: 20px 60px;
	box-shadow: var(--box-shadow);
	background-color: rgb(16 29 46/ 1);
	font-family: var(--heading-font);
	border: 6px solid;
	border-top-width: 0;
	border-bottom: 0;
	border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
	animation: floatup 3s ease infinite;
}

.dept h1:before {
	content: '';
	position: absolute;
	width: 50%;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: rgb(255 255 255/ 5%);
}

@keyframes floatup {

	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-2px);
	}

}


/*Departments Cards*/
.card-container {
	margin: 180px 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: absolute;
	width: 240px;
	height: 250px;
	color: #fff;
	border: 3.2px solid;
	border-top-width: 0;
	border-bottom: 0;
	border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
	overflow: hidden;
	transition: 1.6s ease;
	background-size: contain;
	background-position: center;
}

#card1 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/art_dept.jpg);
	transition-delay: .2s;
	background-size: cover;
}

#card2 {
	background: url(./image/coding.jpg);
	transition-delay: .4s;
	background-size: contain;

}

#card3 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/2camera.jpg);
	transition-delay: .6s;
	background-size: cover;
}

#card4 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/creative_writing.jpg);
	transition-delay: .8s;
	background-size: cover;

}

#card5 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/dance_dept.jpeg);
	transition-delay: 1s;
	background-size: contain;

}

#card6 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/1music.jpg);
	transition-delay: 1.2s;
	background-size: contain;

}

#card7 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/fashion.jpg);
	transition-delay: 1.4s;
	background-size: cover;

}

#card8 {
	background: linear-gradient(to bottom, #4443, #000), url(./image/2game.jpg);
	transition-delay: 1.6s;
	background-size: contain;
	animation: floatleft 0.5s ease;
}

#cardL {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 0;
}

#cardL img {
	width: 200px;
	height: auto;
	background: rgba(255, 255, 255, 0.65);
	border-radius: 50%;
	border: 5px solid rgba(0, 0, 255, 0.2);
}

#cardW {
	text-align: center;
	text-transform: uppercase;
	color: rgb(0 0 0);
	display: grid;
	place-items: center;
	background-image: linear-gradient(rgb(255 255 255/ 75%), rgb(0 0 0/ 95%));
	border: 3px solid;
	border-top-width: 0;
	border-bottom: 0;
	box-shadow: 0 19px 38px rgba(100, 0, 0.30), 0 15px 12px rgba(2, 0, 0, 0.22);
	border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
	/*	transition: 1.6s ease;*/
	/*	transition-duration: 1.3s;*/
}

#cardW::before {
	position: absolute;
	content: '';
	display: inline-block;
	top: 50%;
	left: 0;
	width: 10px;
	height: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2));
	animation: shiny 2s ease infinite;
}

@-webkit-keyframes shiny {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}

	80% {
		-webkit-transform: scale(0);
		opacity: 0.5;
	}

	81% {
		-webkit-transform: scale(4);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(50);
		opacity: 0;
	}
}

#cardW h3 {
	font-family: var(--heading-font);
	font-weight: bold;
	font-size: 22px;
}

#cardW:hover {
	transform: translateY(-5px);
	color: #fff;
	cursor: pointer;
}

#cardW:hover .card-btn {
	color: #fff;
}

.cardW-btn {
	color: rgb(0 255 255/ 50%);
	position: absolute;
	bottom: 15px;
	right: 35px;
	border: 0;
	background: none;
	font-size: 20px;
	transition: color 1s;
	animation: bounceInLeft 2s ease infinite;
}

.cardW-btn:hover {
	transform: translateY(-8px);
	cursor: pointer;
	animation-play-state: paused;
}


.card-content {
	top: 100px;
	position: relative;
	padding: 0 10px;
	bottom: 0;
	width: 100%;
	height: 160px;
	background: linear-gradient(to bottom, rgb(111 0 0/ 30%), rgb(111 0 0/ 50%), rgb(32 1 34/ 70%));
	transform: translateY(104px);
	transform-origin: bottom;
	font-family: var(--content-font);
	transition: transform 1s ease;
}

.card:hover .card-content {
	transform: translateY(0);
}

.card-title {
	width: max-content;
}

.card-title::after {
	content: ' ';
	position: absolute;
	top: 35px;
	left: 0;
	width: 130px;
	height: 3px;
	background-color: #FFD700;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 1s ease;

}


.card:hover .card-title::after {
	transform: scaleX(1);
}


.card-title h1 {
	color: rgb(255 255 255/ 70%);
	font-size: 23px;
	padding: 3px 0;
	font-weight: bold;
	font-family: var(--heading-font);
	text-shadow: 0 0 0 2px;
}

.card-body {
	color: #ededed;
	padding: 20px 10px;
	font-size: 14px;
}

.card-content a {
	text-decoration: none;
	color: rgb(255 255 255 / 70%);
	position: absolute;
	bottom: 25px;
	right: 30px;
	animation: bounceInLeft 2s ease infinite;
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}

	60% {
		opacity: 1;
		transform: translateX(20px);
	}

	100% {
		transform: translateX(0);
	}
}

.card-content a:hover {
	color: rgb(255 255 255/ 1);
	animation-play-state: paused;
}

footer {
	position: relative;
	bottom: 20px;
}

.footer-container {
	display: flex;
	justify-content: center;
}

.about-us {
	width: 45vw;
	margin: 20px;
	background-color: var(--primary-bg);
	padding: 15px;
	border: 6px solid;
	border-image: linear-gradient(to bottom, #000, #ffd700, #ffd700, #000)10 100%;
	border-top-width: 0;
	border-bottom-width: 0;
	box-shadow: var(--box-shadow);
	animation: floatup 3s ease infinite;
}
.about-us::before{
	content: '';
	position: absolute;
	width: 50%;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: rgb(255 255 255/ 5%);
}
.footer-container h2 {
	font-family: var(--heading-font);
	text-align: center;
	color: #5589f2;
}

.footer-container p {
	margin: 30px 20px 0px 20px;
	font-family: var(--content-font);
}

.contact-us {
	width: 45vw;
	margin: 20px;
	background-color: var(--primary-bg);
	padding: 15px;
	border: 6px solid;
	border-image: linear-gradient(to bottom, #000, #ffd700, #ffd700, #000)10 100%;
	border-top-width: 0;
	border-bottom-width: 0;
	box-shadow: var(--box-shadow);
	animation: floatup 3s ease infinite;
	animation-delay: 1.2s;
}
.contact-us:before{
	content: '';
	position: absolute;
	width: 50%;
	height: auto;
	top: 0px;
	left: 0px;
	bottom: 0px;
	background: rgb(255 255 255/ 5%);
}
.contact-us ul li {
	list-style: none;
	font-family: var(--content-font);
}

.contact-us ul li i {
	position: relative;
	top: 5px;
	margin: 10px;
}

.contact-us ul li a {
	text-decoration: none;
	color: #fff;
}

.contact-us ul li a:hover {
	color: #ebb134;
}

.copyright p {
	color: #5589f2;
	font-family: var(--content-font);
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
	background: var(--primary-bg);
	box-shadow: var(--box-shadow);
	border: 3px solid #FFD700;
	border-top-width: 0;
	border-bottom-width: 0;
}
@keyframes floatleft {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}
