@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');


* {
	padding: 0;
	margin: 0;
}

body {
	background: #101d2e;
	width: 100vw;
	height: 100vh;
	color: #fff;
	background-image: url(image/bodybg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-x: hidden;
}



::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 8px;
	
}
::-webkit-scrollbar-thumb{
	border-radius: 20px;
	background: linear-gradient( #101d2e,#e8d57f, #e8d57f);
}

/*=========Main Content==========*/

/*==========logo=========*/
header {
	padding: 30px 0 0 90px;
	width: 100vw;
	display: flex;

}

#informal-logo img {
	width: 200px;
	height: auto;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border: 5px solid rgba(0, 0, 255, 0.2);
}


/*==========Page Title========*/

#page-title {
	text-align: center;
	padding: 50px 60px;
}

#page-title p {
	margin-top: 54px;
	font-size: 18px;
	font-family: 'Lemonada', cursive;
}


.page-title-society-name h1 {
	position: relative;
	font-size: 5em;
	letter-spacing: 7px;
	color: #115263;
	text-transform: capitalize;
	width: 100%;
	text-align: center;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
	line-height: .7em;
	outline: none;
	animation: animate 5s linear infinite;
	font-weight: 600;
}

@keyframes animate {

	0%,
	18%,
	20%,
	40%,
	60.1%,
	67%,
	80%,
	90.1%,
	92% {
		color: #115263;
		text-shadow: none;
	}

	18.1%,
	20.1%,
	50%,
	60%,
	67.1%,
	80.1%,
	90%,
	92.1%,
	100% {
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
			0 0 20px #03bcf4,
			0 0 40px #03bcf4,
			0 0 80px #03bcf4,
			0 0 160px #03bcf4;
	}
}




/*Image Slider*/


/*===============Hero Section===========*/



/*=============Our Departments Section===========*/
#departments{
	width: 100%;
	height: 800px;
position: relative;
	margin-top: 100px;
}
.cardcont {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: absolute;
	width: 240px;
	height: 250px;
	color: #fff;
	border: 3px solid;
	border-top-width: 0;
	border-bottom: 0;
	border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
	overflow: hidden;
	transition: 1s ease;
	background-size: contain;
	background-position: center;
}

#card1 {
	background: url(./image/art.jpg);
	transition-delay: .4s;
	background-size: cover;

}

#card2 {
	background: url(./image/code.jpeg);
	transition-delay: .8s;
	background-size: cover;

}

#card3 {
	background: url(./image/photography.jpg);
	transition-delay: 1.2s;
	background-size: cover;


}

#card4 {
	background: url(./image/Creativewrite.jpg);
	transition-delay: 1.6s;
	background-size: cover;

}

#card5 {
	background: url(./image/dance.jpg);
	transition-delay: 2s;
	background-size: cover;

}

#card6 {
	background: url(./image/music.jpg);
	transition-delay: 2.4s;
	background-size: cover;

}

#card7 {
	background: url(./image/fashion.jpg);
	transition-delay: 2.8s;
	background-size: cover;

}

#card8 {
	background: url(./image/game.jpg);
	transition-delay: 3.2s;
	background-size: cover;

}

#cardL {
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	border: 0;
}
#cardL img{
	width: 200px;
	height: auto;
	background: rgba(255, 255, 255, 0.65);
	box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border: 5px solid rgba(0, 0, 255, 0.2);
}
#cardW {
	text-transform: uppercase;
	color: rgb(255 255 255 /50%);
	display: grid;
	border-radius: 0;
	place-items: center;
	background: linear-gradient(to top, #000000, #434343);
	border: 3px solid;
	border-top-width: 0;
	border-bottom: 0;
	box-shadow: 0 19px 38px rgba(100, 0, 0.30), 0 15px 12px rgba(2, 0, 0, 0.22);
	border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
	transition-duration: 3.4s;
}

#cardW:hover {
	color: #FFD700;
	cursor: pointer;
}

#cardW:hover .card-btn {
	color: #FFD700;

}

.card-btn {
	color: rgb(255 255 255/ 50%);
	position: absolute;
	bottom: 15px;
	right: 35px;
	border: 0;
	background: none;
	font-size: 20px;
	transition: color 1s;
	animation: bounceInLeft 2s ease infinite;
}

.card-btn:hover {
	cursor: pointer;
	animation-play-state: paused;
}


.card-content {
	margin: 0;
	position: absolute;
	left: 0;
	padding: 0 10px;
	bottom: 0;
	width: 100%;
	height: 160px;
	background: linear-gradient(to bottom, rgb(26 42 108/ 70%), rgb(178 31 31/ 50%), rgb(253 187 45/ 70%));
	transform: translateY(104px);
	transform-origin: bottom;
	transition: transform 1s ease;
}

.card:hover .card-content {
	transform: translateY(0);
}

.card-title {
	width: max-content;
}

.card-title::after {
	content: ' ';
	position: absolute;
	top: 50px;
	left: 0;
	width: 60%;
	height: 3px;
	background-color: #FFD700;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 1s ease;

}


.card:hover .card-title::after {
	transform: scaleX(1);
}


.card-title h1 {
	font-size: 25px;
	padding: 10px 0;
	font-family: 'Festive', cursive;
	text-shadow: 0 0 0 2px;
}

.card-body {
	color: #ededed;
	padding: 20px 10px;
	font-family: serif;
	font-size: 14px;
}

.card-content a {
	text-decoration: none;
	color: rgb(255 255 255 / 70%);
	position: absolute;
	bottom: 5px;
	right: 50px;
	animation: bounceInLeft 2s ease infinite;
}

@keyframes bounceInLeft {
	0% {
		opacity: 0;
		transform: translateX(-40px);
	}

	60% {
		opacity: 1;
		transform: translateX(20px);
	}

	100% {
		transform: translateX(0);
	}
}

.card-content a:hover {
	color: rgb(255 255 255/ 1);
	animation-play-state: paused;
}
