@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color:white;
  background-color: #101d2e;
}
/*Navbar icon*/
.bars {
	position: fixed;
	width: 28px;
	height: 30px;
	top: 40px;
	right: 10px;
	cursor: pointer;
	z-index: 101;
	padding-top: 9px;
	outline: none;
	transition: .5s ease;
}

.bars.active {
	top: 20px;
}

.bar {
	width: 100%;
	height: 4.3px;
	border-radius: 20px;
	background-color: #fff;
	outline: none;
	position: absolute;
}

#nav-action #bar1 {
	transform: translateY(-10px);
}

#nav-action #bar3 {
	transform: translateY(10px);
}

.bars.active #bar2 {
	animation: disappear 1s;
	color: aqua;
	animation-fill-mode: forwards;
}

.bars.active #bar1 {
	animation: top-bar 1s;
	animation-fill-mode: forwards;
}

.bars.active #bar3 {
	animation: bottom-bar 1s;
	animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
	position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0px;
	transition: all 1s;
	z-index: -1;
	overflow: hidden;
	opacity: 0;
}

#nav a {
	color: #fff;
	text-decoration: none;
	font-size: 22px;
	font-family: var(--heading-font);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-indent: 50vw;
	border-radius: 50%;
	transition: all .5s;
}

#nav a:hover {
	background: #ED213A;
}

ul {
	list-style: none;
}

.visible {
	z-index: 100 !important;
	opacity: 1 !important;
}

.shape-circle {
	border-radius: 50%;
	width: 20vw;
	height: 20vw;
	top: -10vw;
	right: -10vw;
	position: absolute;
	transition: all 1s ease-in-out;
	background: #101d2e;
	box-shadow: 0 0px 0px rgba(232, 213, 127, 0.5);
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

nav.visible li:first-child {
	width: 200vw;
	height: 200vw;
	top: -100vw;
	right: -100vw;
	z-index: 5;
	transition: all .5s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(2) {
	width: 150vw;
	height: 150vw;
	top: -75vw;
	right: -75vw;
	z-index: 6;
	transition: all .6s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(3) {
	width: 100vw;
	height: 100vw;
	top: -50vw;
	right: -50vw;
	z-index: 7;
	transition: all .7s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:last-child {
	width: 50vw;
	height: 50vw;
	top: -25vw;
	right: -25vw;
	z-index: 8;
	transition: all .8s ease-in-out;
	box-shadow: 0 0px 80px rgba(232, 213, 127, 0.5);
}

nav.visible li:nth-child(1) a {
	line-height: 275vw !important;
	text-indent: 15vw !important;

}

nav.visible li:nth-child(2) a {
	line-height: 210vw !important;
	text-indent: 17vw !important;
}

nav.visible li:nth-child(3) a {
	line-height: 147vw !important;
	text-indent: 17vw !important;

}

nav.visible li:nth-child(4) a {
	line-height: 70vw !important;
	text-indent: 12vw !important;
}

@keyframes top-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(45deg) translateY(0);
	}
}

@keyframes bottom-bar {
	50% {
		transform: translateY(0);
	}

	100% {
		transform: rotate(-45deg) translateY(0);
	}
}

@keyframes disappear {
	50% {
		transform: scale(0);
	}

	100% {
		background-color: transparent;
	}
}

/*===============Main Content===============*/
header {
	width: 100vw;
	margin-top: 40px;
}

/*==========Page Title========*/

#page-title {
	text-align: center;
}

#page-title p {
	margin-top: 54px;
	font-size: 18px;
	font-family: 'Lemonada', cursive;
}


.society-name h1 {
	position: relative;
	font-size: 6em;
	letter-spacing: 7px;
	color: #115263;
	text-transform: capitalize;
	width: 100vw;
	text-align: center;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
	box-sizing: border-box;
	line-height: 60px;
	overflow-wrap: break-word;
	animation: animate 5s linear infinite;
	font-weight: 600;
}

@keyframes animate {

	0%,
	18%,
	20%,
	40%,
	60.1%,
	67%,
	80%,
	90.1%,
	92% {
		color: #115263;
		text-shadow: none;
	}

	18.1%,
	20.1%,
	50%,
	60%,
	67.1%,
	80.1%,
	90%,
	92.1%,
	100% {
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
			0 0 20px #03bcf4,
			0 0 40px #03bcf4,
			0 0 80px #03bcf4,
			0 0 160px #03bcf4;
	}
}




@media(max-width: 644px){
	nav.visible li:nth-child(1) {
		width: 230vw;
		height: 230vw;
	}

	nav.visible li:nth-child(2) {
		width: 170vw;
		height: 170vw;
	}

	nav.visible li:nth-child(3) {
		width: 110vw;
		height: 110vw;
	}

	nav.visible li:nth-child(4) {
		width: 50vw;
		height: 50vw;
	}

	nav.visible li:nth-child(1) a {
		line-height: 370vw !important;
		text-indent: 35vw !important;

	}

	nav.visible li:nth-child(2) a {
		line-height: 265vw !important;
		text-indent: 28vw !important;
	}

	nav.visible li:nth-child(3) a {
		line-height: 160vw !important;
		text-indent: 18vw !important;

	}

}


/*---Media Queries --*/
@media (max-width: 1500px){
  .carousel-inner img{
    width: 100%;
    height: 550px;
  }
}

@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 400px;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  } 
  .display-4 {
    font-size: 200%;
	
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 270%;
  }
  .carousel-caption h3 {
    font-size: 130%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 225%;
	
  }
  .social a{
    font-size: 2em;
    padding: 1.7rem;
  }
  .carousel-inner img{
    width: 150%;
    height: 100%;
  }
  .img-fluid {
	max-width: 75%;
	height: auto;
  }
  
  
}



/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}
.card {
	color: #fff;
	border: 3.2px solid;
	border-top-width: 0;
	border-bottom: 0;
	border-image: linear-gradient(to bottom, rgb(0 0 0/ 30%), rgb(255 215 0 / 100%), #ffd700, #000) 10 100%;
	overflow: hidden;
}
 
.copyright p {
	color: #5589f2;
	font-family: var(--content-font);
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding: 10px 30px;
	background: var(--primary-bg);
	box-shadow: var(--box-shadow);
	border: 3px solid #FFD700;
	border-top-width: 0;
	border-bottom-width: 0;
}

.footer-container h2 {
	font-family: var(--heading-font);
	text-align: center;
	color: #5589f2;
}

.footer-container p {
	margin: 30px 20px 0px 20px;
	font-family: var(--content-font);
}

/**--
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
--**/








